<%- model_class = Service -%>

<div class="page-header">
  <%= link_to new_service_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New <%=t '.title', :default => model_class.model_name.human %>
  <% end %>
  <h1>Listing <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<table id="services" class="datatable table table-striped table-hover table-bordered service_datatables_feature" data-source="<%= services_url(format: "json") %>">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:order_number) %></th>
      <th><%= model_class.human_attribute_name(:details) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
