<%= simple_form_for(@model) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, input_html: { class: 'form-control' } %> <br>
    
    <%= render "shared/modal_choose_value", f: f, :association => :manufacturer, :cols => [:name, :created_at] , :value => (@model.manufacturer.nil? ? "Choose a manufacturer..." : @model.manufacturer.name) %>  <br>
    
    <%= render "shared/modal_choose_value", f: f, :association => :kind, :cols => [:name, :created_at] , :value => (@model.kind.nil? ? "Choose a type of instrument..." : @model.kind.name) %> <br>

    <%= f.input :model_list, label: 'Assign tags to this model', input_html: { value: @model.model_list.join(",") } %>  <br>

    <%= f.input :code, as: :text, label: false, input_html: { value: @model.code.to_json } %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
