<style type="text/css">
  <%= raw @laboratory.custom_forms['styles'].html_safe %>
</style>
<%= simple_form_for @report, :remote => true, :html => { :class => 'report_feature' } do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name, input_html: { class: 'form-control' } %>
  </div>
  <%= f.hidden_field :service_id_ref, value: @report.service_id %>
  
  
	<%= render "shared/modal_choose_value", f: f, :association => :report_template, :cols => [:name, :created_at] , :value => (@report.report_template.nil? ? "Choose a report template..." : @report.report_template.name) %>
  <br>
  <a href="#" class="btn btn-primary generate">
    <span class="fa fa-file-text-o" aria-hidden="true"></span>
  Generate
  </a>

  <a href="#" class="btn btn-success getdata">
    <span class="fa fa-floppy-o" aria-hidden="true"></span>
  Save
  </a>

  <a href="#" class="btn btn-default getpdf">
    <span class="fa fa-file-pdf-o" aria-hidden="true"></span>
  PDF
  </a>
 
  <a href="#" class="btn btn-default printview">
    <span class="fa fa-print" aria-hidden="true"></span>
  Print view
  </a> 

 <a href="#" class="btn btn-default markdownedit">
    <span class="fa fa-code" aria-hidden="true"></span>
  Markdown
  </a> 


  <hr>
  <%= f.input :pdf_options, as: :hidden %>  
  <%= f.input :value, :label => false, input_html: { class: ' markdown_textarea', :rows => 20 } %>
  <%= f.input :value_html, :label => false, input_html: { class: 'report_editor_feature report_view' } %>
  <br>
<% end %>
