<!-- Button trigger modal 
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>
-->
<%= simple_form_for @spreadsheet, :remote => true, :html => { :class => 'spreadsheet_feature' } do |f| %>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Choose a snippet</h4>
        </div>
        <div class="modal-body">
          <%= render "shared/snippets_datatable" %>
          <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Details Modal -->
  <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="detailsModalLabel">Point Calibration Details</h4>
        </div>
        <div class="modal-body">
        </div>        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Chart Modal -->
  <div class="modal fade" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="chartModalLabel">Chart</h4>
        </div>
        <div class="modal-body">
          <div id="chart-container"></div>
        </div>        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <%= f.input :tag_list, input_html: { data: {role:'tagsinput'} } %>
  <%= f.input :description, input_html: { class: 'form-control' } %>
  <br>
  <div class="tabpanel">

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#spreadsheet" aria-controls="spreadsheet" role="tab" data-toggle="tab">Spreadsheet</a></li>
      <li role="presentation"><a href="#snippets_tab" aria-controls="snippets_tab" role="tab" data-toggle="tab">Snippets</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="snippets_tab">
        <div class="snippet_chooser_feature">
          <%= f.input :table_json, as: :hidden, input_html: { class: 'table-json' } %>
          <%= hidden_field_tag 'pre_tags', '' %>
        
          <div class="service_assets">
            <br>
            <%= simple_form_for @service, :html => { :class => 'form-horizontal' } do |f| %>
              <%= f.fields_for :assets do |builder| %>
                <%= hidden_field_tag 'tag_list', builder.object.model.model_list.to_s %>
                <%= render "shared/asset_fields", {:f => builder, :role => 'search'} %>
              <% end %>
            <% end %>
          </div>
          <button type="button" class="btn btn-default btn-sm" id="refresh_snippets">
            <span class="glyphicon glyphicon-refresh"></span> Refresh snippets
          </button>
          <span id="chosenAssetsHolder" class="ranges_template_feature"></span>
        </div>
        <br>
      </div>
      <div role="tabpanel" class="tab-pane active" id="spreadsheet">
        <br>
        <div id="error_messages" class="alert alert-warning alert-dismissable parse-errors" style="display: none;white-space: pre;;font-family: 'Courier New'">
        </div>
        <div id="handsontable"></div>
        <br>
      </div>
    </div>
  </div>
  <!--
  <a href="#" class="btn btn-primary getdata">Update Spreadsheet</a>
  -->
  <%= link_to t('.cancel', :default => 'Back'), service_path(@spreadsheet.service, :tab => 'spreadsheets'), :class => 'btn btn-default' %>
  <!-- multiple break lines to give context menu  enough room -->
  <br>
  <br>
  <br>
  <br>
<% end %>