<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#spreadsheet" aria-controls="spreadsheet" role="tab" data-toggle="tab">Spreadsheet</a></li>
  <li role="presentation"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">Resources</a></li>
  <!--<li role="presentation"><a href="#results_report" aria-controls="results_report" role="tab" data-toggle="tab">Results report</a></li> -->
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="spreadsheet">
    <br>

    <% if action_name == 'edit' then %>
      <%= f.input :spreadsheet_json, as: :hidden, input_html: { value: @spreadsheet.spreadsheet_json.to_json } %>
    <% else %>
      <input class="hidden" id="spreadsheet_spreadsheet_json" name="spreadsheet[spreadsheet_json]" type="hidden">
    <% end %>
    
    <div id="hot_container"></div>
  </div>
  <div role="tabpanel" class="tab-pane" id="resources">
    <br>

    <% if action_name == 'edit' then %>
      <%= f.input :tag_list, as: :hidden, input_html: { value: @spreadsheet.tag_list.join(",") } %>
    <% end %>

    <div class="snippet_chooser_feature spreadsheet_feature">
      <%= hidden_field_tag 'pre_tags', '' %>
      <div class="service_assets">
        <br>
        <% if action_name == 'edit' then %>
          <%= simple_form_for @service, :html => { :class => 'form-horizontal' } do |f| %>
            <%= f.fields_for :assets do |builder| %>
              <%= hidden_field_tag 'tag_list', builder.object.model.model_list.to_s %>
              <%= render "shared/asset_fields", {:f => builder, :role => 'search'} %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <% if action_name == 'edit' then %>
        <%= f.input :table_json, as: :text, label: false, input_html: { value: @spreadsheet.table_json.to_json } %>
      <% else %>
        <textarea class="text optional" id="spreadsheet_table_json" name="spreadsheet[table_json]" style="display: none;"></textarea>
      <% end %>

    </div>
  </div>
<!--
  <div role="tabpanel" class="tab-pane active" id="results_report">
    <br>
    <div id="results_report"></div>
  </div>
-->
</div>
<div id="container" style="width:100%; height:400px;"></div>

<div id="mcLoading"><p>computing...</p></div>

<br><br><br>